/* Styles for Weather App */

.weather {
  font-family: Century Gothic, sans-serif;
  background-color: #ccdcff;
  width: 360px;
}

.weather h1 {
  border: solid;
  font-size: medium;
  background-color: #6697ff;
  color: white;
  border-width: 1px 0px 1px 0px;
  padding-left: 5px;
  margin-bottom: 0px;
}

.weather td {
  text-align: right;
}

.oddColumn {
  background-color: #f2f2f2;
  padding: 0px 5px;
}

.evenColumn { 
  background-color: #ffffff;
  padding: 0px 5px;
}

.weather img {
  border: solid;
  border-width: 1px;
  padding: 10px 10px 81px 10px;
  margin: 0px 10px 0px 10px;
  float: left;
}

.condition {
  padding: 2px 0px 0px 10px;
  font-size: large;
}

.disabled {
  display: none;
}

.error {
  color: darkred;
  font-style: italic;
}

.disclaimer {
  font-size: xx-small;
  padding: 0px 10px 10px 10px;
  font-style: italic;
}